
section { display: flex; align-items: start; justify-content: space-around; }
article { display: inline-block; width: 40%; }
h1, h2 { font-size: 1.2em; }
h2 { font-size: 1em; color: rgb(150, 149, 149); }
h1, h2 { margin: 0px 0px 1rem; }
h1:has(+ h2) { margin: 0px 0px 0.25rem; }

button.copy {display:none !important}