/* basic page setup and text stuff */

body,
html {
  margin: 0;
  font-size: 10px;
}

body {
  min-width: 600px;
}

h1 {
  font-family: "UnifrakturMaguntia", cursive;
  text-align: center;
  font-size: 8rem;
  margin: 4rem 0 0 0;
}

p {
  text-align: center;
  font-size: 1.4rem;
}

/* button styling and positioning */

button {
  background-color: #0088cc;
  background-image: linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
  text-shadow: 1px 1px 1px black;
  text-align: center;
  color: white;
  border: none;
  width: 120px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;

  position: absolute;

  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.7);
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
}

button:hover,
button:focus {
  opacity: 0.8;
}

button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.play {
  top: 2px;
  left: 2px;
}

.stop {
  top: 2px;
  left: 124px;
}

.left {
  top: 44px;
  right: 64px;
  background: url(icons/left.svg) no-repeat center,
    linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
}

.right {
  top: 44px;
  right: 2px;
  background: url(icons/right.svg) no-repeat center,
    linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
}

.zoom-in {
  top: 2px;
  right: 31px;
  background: url(icons/zoom-in.svg) no-repeat center,
    linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
}

.zoom-out {
  top: 86px;
  right: 31px;
  background: url(icons/zoom-out.svg) no-repeat center,
    linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
}

.move {
  width: 60px;
  height: 40px;
  background-size: 50% 60%, 100% 100%;
}

/* setting up the room of metal */

.room {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 300px;
  width: 100%;
  position: relative;
}

.flex-wrapper {
  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.boom-box {
  width: 200px;
  height: 180px;
  background: url(icons/boom.svg) no-repeat;
  background-size: 100% 100%;

  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.pulse-wrapper {
  -webkit-transform-origin: center;
  transform-origin: center;
}

.pulsate {
  -webkit-animation: pulse 0.5s linear infinite alternate;
  animation: pulse 0.5s linear infinite alternate;
}

/* animation class for boom box pulsating */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(1.07);
  }
}

@keyframes pulse {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.07);
  }
}

/* position data outputs */

.listener-data,
.panner-data {
  width: 230px;
  position: absolute;
  right: 2px;
}

.listener-data {
  top: 2px;
}

.panner-data {
  top: 30px;
}

.page-header, .document-toc-container, .loading-bar, #nav-access, .sidebar, .newsletter-container, .metadata {display:none !important} .content-layout {grid-template-columns: 100% !important; grid-template-rows: 1fr !important; grid-template-areas: 'main' !important;} .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .text-content p, .text-content dl, .text-content ol, .text-content ul {max-width:none !important; } #wikiArticle {border-bottom: none !important} .content-layout {max-width:none !important} .live .example-choice {align-items: initial} .article {padding: 30px 12px 30px 12px !important} .nav-footer {margin:0 -12px !important} .nav-footer {padding:60px 20px !important} .archived {position:static !important} #react-container > #nav-footer {display:none !important} .document-page .page-content-container {display:block !important} .locale-container {display:none !important} .bc-table .bc-history-link, .bc-table .ic-footnote {display:none !important} .ic-prefix {height:36px !important} .breadcrumb-locale-container {display:block} .article dl, .article ol, .article p, .article ul {max-width:none !important} .breadcrumbs li, .breadcrumbs li a {display:inline !important} .page-wrapper {display:block !important} .main-page-content dl, .main-page-content ol, .main-page-content p, .main-page-content ul {max-width:none !important} .language-toggle {display:none !important} .breadcrumb-locale-container {margin-top: 0 !important} .main-page-content iframe {width:100%} .toc, #sidebar-quicklinks, .top-navigation, .article-actions {display:none !important} .article-wrapper {display:block !important} .table-scroll {width:100% !important; margin:0 0 !important;} .article-actions-container {min-height:24px !important;} .breadcrumbs-container li {font-size:13px !important; line-height:1.3; -webkit-text-size-adjust:none !important;} .article-actions-container .container {padding-left: 10px !important; padding-right:10px !important}  .breadcrumbs-container li {display:inline-flex !important} .sidebar-button {display:none !important} .article-actions-container {max-height:none !important} .article-actions-container .container {margin-left:0 !important} .main-wrapper {display:block !important} .main-content {padding-top:1.5em !important} .main-page-content h1 a[href^='#']:hover:after, .main-page-content h2 a[href^='#']:hover:after, .main-page-content h3 a[href^='#']:hover:after, .main-page-content h4 a[href^='#']:hover:after, .main-page-content h5 a[href^='#']:hover:after, .main-page-content h6 a[href^='#']:hover:after {content:none !important} .main-page-content h1 a:focus, .main-page-content h1 a:hover, .main-page-content h2 a:focus, .main-page-content h2 a:hover, .main-page-content h3 a:focus, .main-page-content h3 a:hover, .main-page-content h4 a:focus, .main-page-content h4 a:hover, .main-page-content h5 a:focus, .main-page-content h5 a:hover, .main-page-content h6 a:focus, .main-page-content h6 a:hover {text-decoration: none} html {scroll-padding-top:24px !important; scroll-behavior: auto !important} .table-container {width:100% !important; margin: 0 0 !important} .sticky-header-container {top:0 !important} .main-page-content figure iframe {width: auto !important} .sidebar-container {display:none !important} .main-page-content h1 a[href^='#']:before, .main-page-content h2 a[href^='#']:before, .main-page-content h3 a[href^='#']:before, .main-page-content h4 a[href^='#']:before, .main-page-content h5 a[href^='#']:before, .main-page-content h6 a[href^='#']:before {display:none !important} body {--top-banner-height: 0 !important;} interactive-example, .interactive-example {display:none !important} .top-banner {display:none !important} .main-page-content iframe {width:calc(100% - 2rem - 2px) !important} aside.article-footer {display:none !important} .breadcrumbs-container ol {padding-bottom:3px !important} .interactive.is-tabbed-longer-height {height:487px !important} .example-choice button {display:none !important} .page-layout__header, .reference-layout__toc, .loading-bar, #nav-access, .reference-layout__sidebar, .newsletter-container, .metadata {display:none  !important}  .reference-layout {     display: block !important; }  .reference-layout__content {     width: 100% !important;     max-width: none !important;     grid-template-columns: 100% !important;     grid-template-rows: 1fr !important;     grid-template-areas: 'main' !important; }  .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .reference-layout__content p, .reference-layout__content dl, .reference-layout__content ol, .reference-layout__content ul {max-width:none !important; }  #content {border-bottom: none !important}  .reference-layout__content {max-width:none !important}  .live .example-choice {align-items: initial}  .reference-layout__content {padding: 30px 12px 30px 12px !important}  .page-layout__footer {margin:0 -12px !important} .page-layout__footer {padding:60px 20px !important}  .archived {position:static !important}  .page-layout > .page-layout__footer {display:none !important}  .reference-layout {display:block !important}  .locale-container {display:none !important}  .bc-table .bc-history-link, .bc-table .ic-footnote {display:none !important}  .ic-prefix {height:36px !important}  .breadcrumb-locale-container {display:block}  .reference-layout__content dl, .reference-layout__content ol, .reference-layout__content p, .reference-layout__content ul {max-width:none !important}  .breadcrumbs li, .breadcrumbs li a {display:inline !important}  .page-layout {display:block !important}  .reference-layout__content dl, .reference-layout__content ol, .reference-layout__content p, .reference-layout__content ul {max-width:none !important}  .language-toggle {display:none !important}  .breadcrumb-locale-container {margin-top: 0 !important}  .reference-layout__content iframe {width:100%}  .reference-layout__toc, #main-sidebar, .page-layout__header, .article-actions {display:none !important}  .reference-layout {display:block !important}  .table-scroll {width:100% !important; margin:0 0 !important;}  .article-actions-container {min-height:24px !important;}  .breadcrumbs-bar li {font-size:13px !important; line-height:1.3; -webkit-text-size-adjust:none !important;}  .article-actions-container .container {padding-left: 10px !important; padding-right:10px !important}  .breadcrumbs-bar li {display:inline-flex !important}  .sidebar-button {display:none !important}  .article-actions-container {max-height:none !important}  .article-actions-container .container {margin-left:0 !important}  .page-layout__main {display:block !important}  .reference-layout__content {padding-top:1.5em !important}  .reference-layout__content h1 a[href^='#']:hover:after, .reference-layout__content h2 a[href^='#']:hover:after, .reference-layout__content h3 a[href^='#']:hover:after, .reference-layout__content h4 a[href^='#']:hover:after, .reference-layout__content h5 a[href^='#']:hover:after, .reference-layout__content h6 a[href^='#']:hover:after {content:none !important}  .reference-layout__content h1 a:focus, .reference-layout__content h1 a:hover, .reference-layout__content h2 a:focus, .reference-layout__content  h2 a:hover, .reference-layout__content h3 a:focus, .reference-layout__content h3 a:hover, .reference-layout__content h4 a:focus, .reference-layout__content h4 a:hover, .reference-layout__content  h5 a:focus, .reference-layout__content h5 a:hover, .reference-layout__content h6 a:focus, .reference-layout__content h6 a:hover {text-decoration: none}  html {scroll-padding-top:24px !important; scroll-behavior: auto !important}  .table-container {width:100% !important; margin: 0 0 !important}  .sticky-header-container {top:0 !important}  .reference-layout__content figure iframe {width: auto !important}  .reference-layout__sidebar {display:none !important}  .reference-layout__content h1 a[href^='#']:before, .reference-layout__content h2 a[href^='#']:before, .reference-layout__content h3 a[href^='#']:before, .reference-layout__content h4 a[href^='#']:before, .reference-layout__content h5 a[href^='#']:before, .reference-layout__content h6 a[href^='#']:before {display:none !important}  body {--top-banner-height: 0 !important;}  interactive-example, .interactive-example {display:none !important}  .page-layout__banner {display:none !important}  .reference-layout__content iframe {width:calc(100% - 2rem - 2px) !important}  aside.article-footer {display:none !important}  .breadcrumbs-bar ol {padding-bottom:3px !important}  .interactive.is-tabbed-longer-height {height:487px !important}  .example-choice button {display:none !important}  .breadcrumbs-bar {position:sticky !important; z-index: 1000 !important; top:0 !important; height:24px !important; padding-left:8px !important} iframe {border: 0 !important} .article-footer{display:none !important} .page-layout > .page-layout__footer {padding: 14px 14px !important; margin:0 !important; display:block !important} .page-layout__footer a {text-decoration:inherit !important; color:inherit !important} .breadcrumbs-bar mdn-toggle-sidebar {display:none !important} pre a {text-decoration:none !important} button.copy {display:none !important} .example-header:has(+ iframe) {display: none !important; } .heading-anchor:before{visibility:hidden !important} iframe {width:100%}
