
html, body { height: 100%; }
body { display: flex; flex-direction: column; justify-content: center; align-items: center; }
div { display: flex; width: 60%; justify-content: space-between; }
p { font-size: 1.7em; width: 60%; color: blue; background-color: white; margin-top: 0px; }
html:active-view-transition {
  & :root { view-transition-name: none; }
  & p { view-transition-name: content; }
}
html:active-view-transition-type(slide) {
  &::view-transition-old(content) { animation-name: slide-out-to-left; }
  &::view-transition-new(content) { animation-name: slide-in-from-right; }
}
html:active-view-transition-type(flip) {
  &::view-transition-old(content) { animation-name: flip-out; }
  &::view-transition-new(content) { animation-name: flip-in; animation-delay: 0.6s; }
}
@keyframes slide-out-to-left { 
  100% { translate: -100vw; }
}
@keyframes slide-in-from-right { 
  0% { translate: 100vw; }
}
@keyframes flip-out { 
  100% { rotate: x 90deg; }
}
@keyframes flip-in { 
  0% { rotate: x -90deg; }
}
::view-transition-group(*) { animation-duration: 0.6s; }

button.copy {display:none !important}