
html { font-family: sans-serif; }
form { background: rgb(204, 204, 204); margin: 0px auto; padding: 20px; border: 1px solid black; }
form ol { padding-left: 0px; }
form li, div > p { background: rgb(238, 238, 238); display: flex; justify-content: space-between; margin-bottom: 10px; list-style-type: none; border: 1px solid black; }
form img { height: 64px; order: 1; }
form p { line-height: 32px; padding-left: 10px; }
form label, form button { background-color: rgb(127, 156, 203); padding: 5px 10px; border-radius: 5px; border: 1px ridge black; font-size: 0.8rem; height: auto; }
form label:hover, form button:hover { background-color: rgb(45, 91, 163); color: white; }
form label:active, form button:active { background-color: rgb(13, 63, 143); color: white; }

button.copy {display:none !important}