
html { font-family: Arial, sans-serif; }
.x-small { font-size: 0.8em; }
.small { font-size: 1.3em; }
.medium { font-size: 2em; }
.large { font-size: 3em; }
.x-large { font-size: 3.5em; }
p { letter-spacing: 8px; }
p:has(~ form > input:checked) { letter-spacing: 12%; }

button.copy {display:none !important}