
div { width: 50px; height: 50px; padding: 5px; margin: 5px; display: inline-block; border: 1px solid black; }
[data-color="red-a98-rgb"] { background-color: color(a98-rgb 1 0 0); }
[data-color="red-prophoto-rgb"] { background-color: color(prophoto-rgb 1 0 0); }
[data-color="green-srgb-linear"] { background-color: color(srgb-linear 0 1 0); }
[data-color="green-display-p3"] { background-color: color(display-p3 0 1 0); }
[data-color="blue-rec2020"] { background-color: color(rec2020 0 0 1); }
[data-color="blue-srgb"] { background-color: color(srgb 0 0 1); }

button.copy {display:none !important}