
.anchor { font-size: 1.8rem; color: white; text-shadow: black 1px 1px 1px; background-color: rgb(128, 128, 255); border-radius: 10px; border: 1px solid black; padding: 3px; }
.anchor { anchor-name: --my-anchor; width: fit-content; }
.infobox { color: darkblue; background-color: azure; border: 1px solid rgb(221, 221, 221); padding: 10px; border-radius: 10px; font-size: 1rem; }
.infobox { position: fixed; position-anchor: --my-anchor; }

button.copy {display:none !important}