
img { height: 100px; width: 100px; margin: 0px 1rem; border: 1px solid black; }
#destination { min-height: 300px; min-width: 90%; margin: 0px 1rem; border: 1px solid black; }
#reload { display: block; margin: 0px 1rem; }

button.copy {display:none !important}