
.header { grid-row-start: hd; grid-column-start: hd; grid-row-end: hd; grid-column-end: hd; }
.footer { grid-row-start: ft; grid-column-start: ft; grid-row-end: ft; grid-column-end: ft; }
.content { grid-row-start: main; grid-column-start: main; grid-row-end: main; grid-column-end: main; }
.sidebar { grid-row-start: sd; grid-column-start: sd; grid-row-end: sd; grid-column-end: sd; }
* { box-sizing: border-box; }
.wrapper { border: 2px solid rgb(247, 103, 7); border-radius: 5px; background-color: rgb(255, 244, 230); max-width: 940px; margin: 0px auto; }
.wrapper > div { border: 2px solid rgb(255, 169, 77); border-radius: 5px; background-color: rgb(255, 216, 168); padding: 1em; color: rgb(217, 72, 15); }
.wrapper { display: grid; grid-template-columns: repeat(9, 1fr); grid-auto-rows: minmax(100px, auto); grid-template-areas: "hd hd hd hd hd hd hd hd hd" "sd sd sd main main main main main main" "sd sd sd ft ft ft ft ft ft"; }

button.copy {display:none !important}