
div { background-color: rgb(140, 255, 160); column-width: auto; column-count: 3; widows: 2; }
p { background-color: rgb(140, 160, 255); }
p:first-child { margin-top: 0px; }

button.copy {display:none !important}