
@media (height: 360px) {
  div { color: red; }
}
@media (min-height: 25rem) {
  div { background: yellow; }
}
@media (max-height: 40rem) {
  div { border: 2px solid blue; }
}

button.copy {display:none !important}