
section { display: flex; align-items: start; justify-content: space-around; }
article { display: inline-block; width: 40%; }
h1 { font-size: 1.2em; }
h2 { font-size: 1em; color: rgb(150, 149, 149); }
h3 { font-size: 0.9em; color: darkgrey; }
h1, h2, h3 { margin: 0px 0px 1rem; }
:is(h1, h2, h3):has(+ :is(h2, h3, h4)) { margin: 0px 0px 0.25rem; }
:is(h1, h2, h3):has(+ h2, + h3, + h4) { margin: 0px 0px 0.25rem; }

button.copy {display:none !important}