
div { width: 50px; height: 50px; padding: 5px; margin: 5px; display: inline-block; border: 1px solid black; }
@media (color-gamut: p3) {
  div { background-color: color(display-p3 1 0 0); }
}
@media (color-gamut: srgb) {
  div:nth-child(2) { background-color: color(srgb 1 0 0); }
}
@media (color-gamut: rec2020) {
  div:nth-child(3) { background-color: color(rec2020 1 0 0); }
}

button.copy {display:none !important}