
html { font-family: Helvetica, Arial, sans-serif; }
[popover] { font-size: 1.2rem; padding: 10px; animation: 0.7s ease-out fade-out; }
[popover]:popover-open { animation: 0.7s ease-out fade-in; }
[popover]:popover-open::backdrop { animation: 0.7s ease-out forwards backdrop-fade-in; }
@keyframes fade-in { 
  0% { opacity: 0; transform: scaleX(0); }
  100% { opacity: 1; transform: scaleX(1); }
}
@keyframes fade-out { 
  0% { opacity: 1; transform: scaleX(1); display: block; }
  100% { opacity: 0; transform: scaleX(0); display: none; }
}
@keyframes backdrop-fade-in { 
  0% { background-color: transparent; }
  100% { background-color: rgba(0, 0, 0, 0.25); }
}

button.copy {display:none !important}