
body { margin: 0px; display: flex; align-items: center; justify-content: center; height: 100vh; }
#color-wheel { height: 100vmin; width: 100vmin; }
#color-wheel { border-radius: 50%; background: conic-gradient(in hsl longer hue, rgb(255, 0, 0), rgb(255, 0, 0)); }
@supports not (background: conic-gradient(in hsl longer hue)) {
  #color-wheel { background: conic-gradient(red, yellow, green, cyan, blue, magenta, red); }
}
.red-hsl { color: rgb(255, 0, 0); }
.green-hsl { color: rgb(0, 255, 0); }
.green-hsl { color: rgba(0, 255, 0, 0.5); }
.button { color: rgb(102, 204, 255); }
.button--secondary { color: rgb(0, 170, 255); }
.button--inactive { color: rgb(140, 191, 217); }

button.copy {display:none !important}