
* { box-sizing: border-box; }
.box { width: 500px; border: 2px dotted rgb(96, 139, 168); display: flex; flex-wrap: wrap; }
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); flex: 0 0 33.3333%; }

button.copy {display:none !important}