
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; padding: 1em; background-color: rgba(96, 139, 168, 0.2); }
.box { border: 2px dotted rgb(96, 139, 168); padding: 1em; display: flex; }
.nested { background-color: orange; display: contents; }

button.copy {display:none !important}