
main { display: flex; }
div { margin-right: 20px; }
label, button { display: block; }
.buttons { display: flex; flex-flow: column; justify-content: center; }
select { width: 200px; }

button.copy {display:none !important}