
.hsl { background: linear-gradient(in hsl, blue, red); }
div { height: 30px; width: 90%; margin: 2px auto; border: 1px solid black; }
p { color: white; margin: 6px; }
.unsupported { display: none; }
@supports not (background: linear-gradient(in oklab to right, blue, red)) {
  .unsupported { display: block; }
  .unsupported p { color: black; }
  .in-function { display: none; }
}
.rgb { background: linear-gradient(to right, blue, red); }
.hsl { background: linear-gradient(to right in hsl, blue, red); }
.lch { background: linear-gradient(to right in lch, blue, red); }
.lab { background: linear-gradient(to right in lab, blue, red); }
.oklch { background: linear-gradient(to right in oklch, blue, red); }
.oklab { background: linear-gradient(to right in oklab, blue, red); }
div { height: 30px; width: 90%; margin: 2px auto; border: 1px solid black; }
p { color: white; margin: 6px; }
.unsupported, .fallback { display: none; }
@supports not (background: linear-gradient(in oklab to right, blue, red)) {
  .unsupported, .fallback { display: block; }
  .unsupported p { color: black; }
  .in-function { display: none; }
}
.hsl { background: linear-gradient(to right in hsl, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-named { background: linear-gradient(to right in hsl, orange, yellow); }
.hsl-longer { background: linear-gradient(to right in hsl longer hue, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-named-longer { background: linear-gradient(to right in hsl longer hue, orange, yellow); }
.fallback { background: linear-gradient(to right, blue, red); }

button.copy {display:none !important}