
* { box-sizing: border-box; }
.wrapper { max-width: 1024px; margin: 0px auto; font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; font-size: 1.2em; line-height: normal; font-family: Helvetica, Arial, sans-serif; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; }
.wrapper > * { border: 2px solid rgb(240, 140, 0); background-color: rgb(255, 236, 153); border-radius: 5px; padding: 10px; }
nav ul { list-style: none; margin: 0px; padding: 0px; }
.main-head { grid-row-start: header; grid-column-start: header; grid-row-end: header; grid-column-end: header; }
.content { grid-row-start: content; grid-column-start: content; grid-row-end: content; grid-column-end: content; }
.main-nav { grid-row-start: nav; grid-column-start: nav; grid-row-end: nav; grid-column-end: nav; }
.side { grid-row-start: sidebar; grid-column-start: sidebar; grid-row-end: sidebar; grid-column-end: sidebar; }
.ad { grid-row-start: ad; grid-column-start: ad; grid-row-end: ad; grid-column-end: ad; }
.main-footer { grid-row-start: footer; grid-column-start: footer; grid-row-end: footer; grid-column-end: footer; }
.wrapper { display: grid; gap: 20px; grid-template-areas: "header" "nav" "content" "sidebar" "ad" "footer"; }
@media (width >= 500px) {
  .wrapper { grid-template-columns: 1fr 3fr; grid-template-areas: "header header" "nav nav" "sidebar content" "ad footer"; }
  nav ul { display: flex; justify-content: space-between; }
}
@media (width >= 700px) {
  .wrapper { grid-template-columns: 1fr 4fr 1fr; grid-template-areas: "header header header" "nav content sidebar" "nav content ad" "footer footer footer"; }
  nav ul { flex-direction: column; }
}

button.copy {display:none !important}