
#container { background-color: rgb(140, 255, 160); padding: 10px; width: 200px; }
.item { width: max-content; background-color: rgb(140, 160, 255); padding: 5px; margin-bottom: 1em; }

button.copy {display:none !important}