
div { background-color: yellow; width: 120px; height: 120px; }
.exampleText { writing-mode: vertical-rl; padding-block: 20px 40px; background-color: rgb(200, 200, 0); }

button.copy {display:none !important}