
div { height: 50vh; color: white; font-weight: bolder; }
.shorter { background: linear-gradient(90deg in hsl, red, blue); }
.longer { background: linear-gradient(90deg in hsl longer hue, red, blue); }

button.copy {display:none !important}