
html { font-family: Helvetica, Arial, sans-serif; }
body { width: 80%; margin: 0px auto; }
h1 { font-size: 3rem; letter-spacing: 2px; column-span: all; }
h1 + p { margin-top: 0px; }
p { line-height: 1.5; break-after: column; }
figure { break-inside: avoid; }
img { max-width: 70%; display: block; margin: 0px auto; }
figcaption { font-style: italic; font-size: 0.8rem; width: 70%; }
article { column-width: 200px; gap: 20px; }

button.copy {display:none !important}