
.box { width: 350px; padding: 16px; }
#css-code { background-color: gainsboro; font-size: 16px; font-family: monospace; }
#css-code select { font-family: inherit; width: 100px; }
#results { background-color: rgb(230, 230, 230); overflow-x: scroll; white-space: normal; font-size: 14px; }

button.copy {display:none !important}