
body > div { background-color: rgb(204, 204, 204); width: 200px; }
#grid { display: inline-grid; gap: 12.5% 0px; }
#flex { display: inline-flex; gap: 12.5% 0px; flex-flow: column; }
#grid > div, #flex > div { background-color: coral; width: 20px; height: 20px; }

button.copy {display:none !important}