
.hats { display: flex; flex-direction: row; justify-content: space-around; }
@font-face { font-family: "Noto Color Emoji"; font-style: normal; font-weight: normal; src: url("../fonts.gstatic.com/l/font-_-kit=Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabts6diywYkdG3gjD0U&skey=a373f7129eaba270&v=v24") format("woff2"); }
.emoji { font-family: "Noto Color Emoji", emoji; font-size: 3rem; }
@font-palette-values --red { font-family: "Noto Color Emoji"; override-colors: 0 rgb(74, 11, 0), 1 rgb(149, 22, 1), 2 rgb(183, 27, 1), 3 rgb(193, 28, 1), 4 rgb(230, 34, 1); }
.red-hat { font-palette: --red; }

button.copy {display:none !important}