
#rainbow-text { font-family: monospace; font-size: 1.5rem; }
::highlight(rainbow-color-1) { color: violet; text-decoration: underline; }
::highlight(rainbow-color-2) { color: purple; text-decoration: underline; }
::highlight(rainbow-color-3) { color: blue; text-decoration: underline; }
::highlight(rainbow-color-4) { color: green; text-decoration: underline; }
::highlight(rainbow-color-5) { color: yellow; text-decoration: underline; }
::highlight(rainbow-color-6) { color: orange; text-decoration: underline; }
::highlight(rainbow-color-7) { color: red; text-decoration: underline; }

button.copy {display:none !important}