
body { font-family: sans-serif; margin: 0px; }
header { background: purple; height: 100px; }
h1 { text-align: center; color: white; line-height: 100px; margin: 0px; }
article { min-width: 400px; padding: 10px; margin: 10px; background: aqua; }
section { display: flex; flex-direction: row; zoom: 0.8; }
section { flex-wrap: wrap; }

button.copy {display:none !important}