
.subject { width: 300px; height: 200px; margin: 0px auto; background-color: deeppink; }
.content { width: 75%; max-width: 800px; margin: 0px auto; }
.output { position: fixed; top: 5px; right: 5px; }
p, h1, div { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 3rem; }
p { font-size: 1.5rem; line-height: 1.5; }

button.copy {display:none !important}