
div { border: 1px solid; background-color: rgb(204, 204, 204); min-height: 100px; min-width: 100px; }
#replaced { content: repeating-linear-gradient(blue 0px, orange 10%) / "Gradients and alt text are supported"; }

button.copy {display:none !important}