
p { font-size: 30px; line-height: 2em; }
div { width: 48%; text-align: center; background: rgba(55, 55, 55, 0.2); border: 1px solid blue; }
.absolute { position: absolute; bottom: 0px; left: 0px; }
.fixed { position: fixed; bottom: 0px; right: 0px; }

button.copy {display:none !important}