
p { width: 200px; border: 1px solid; padding: 2px 5px; white-space: nowrap; overflow: scroll; }
.overflow-clip-clip { }
.overflow-clip-ellipsis { }
.overflow-ellipsis-ellipsis { }
.overflow-ellipsis-string { }

button.copy {display:none !important}