
body { height: 100vh; display: flex; justify-content: center; align-items: center; gap: 50px; }
div.box { width: 100px; height: 100px; background: linear-gradient(orange, red); }
div.box-1 { transform: rotate(calc(56.309932deg)); }
div.box-2 { transform: rotate(calc(123.690068deg)); }
div.box-3 { transform: rotate(calc(-63.434949deg)); }
div.box-4 { transform: rotate(calc(63.434949deg)); }
div.box-5 { transform: rotate(atan2(1rem, -0.5rem)); }

button.copy {display:none !important}