
* { box-sizing: border-box; }
html { font-family: Helvetica, Arial, sans-serif; }
p { line-height: 1.5; }
form { padding-left: 20px; margin-top: 20px; }
article h2 { margin: 0px; font-size: 1.8rem; }
body { max-width: 700px; }
.ice { --scheme: ice; }
.fire { --scheme: fire; }
article { padding: 20px; --color1: if(
    style(--scheme: ice): #03045e;
    style(--scheme: fire): #621708;
    else: black;
  ); --color2: if(
    style(--scheme: ice): #caf0f8;
    style(--scheme: fire): #ffc971;
    else: white;
  ); color: var(--color1); border: 3px solid var(--color1); background-image: linear-gradient(
    to left,
    var(--color2),
    white,
    var(--color2)
  ); }
aside { color: var(--color2); background-color: var(--color1); padding: 20px; }
h1 { margin: 0px; }
h1::before { }

button.copy {display:none !important}