
.box { width: 250px; }
.shape { float: left; shape-outside: polygon(0px 5%, 15% 12%, 30% 15%, 40% 26%, 45% 35%, 45% 45%, 40% 55%, 10% 90%, 10% 98%, 8% 100%, 0px 100%); width: 300px; height: 320px; }
p { font-size: 0.9rem; }

button.copy {display:none !important}