
div { background-color: rebeccapurple; color: white; width: min-content; padding: 10px; font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; font-size: 2rem; line-height: normal; font-family: sans-serif; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; }
@keyframes slide-and-fade { 
  0% { transform: translateX(0px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateX(50vw); opacity: 0; }
}
div { animation: 4s ease-in infinite slide-and-fade; }

button.copy {display:none !important}