
html { font-family: Helvetica, Arial; }
p { font-size: 1.5rem; line-height: 1.5; width: 90%; margin: 0px auto; }
@layer no-support {
  body::before { background-color: wheat; display: block; text-align: center; padding: 1em 0px; }
  @supports not selector(:current) {
  body::before { content: "Your browser doesn't support the :current pseudo-class."; }
}
  @supports not selector(::search-text) {
  body::before { content: "Your browser doesn't support the ::search-text pseudo-element."; }
}
}

button.copy {display:none !important}