
html { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 3rem; letter-spacing: 2px; column-span: all; }
h2 { font-size: 1.2rem; color: red; letter-spacing: 1px; break-before: column; }
p { line-height: 1.5; }
article { column-width: 200px; gap: 20px; }

button.copy {display:none !important}