
@keyframes action { 
  0% { rotate: 45deg; }
  100% { rotate: 765deg; }
}
.scroller { width: 400px; height: 100px; overflow: scroll; }
.container { height: 200px; }
main { border: 1px solid; background-color: palegoldenrod; }
div { position: relative; }
span { --size: 50px; height: var(--size); width: var(--size); background-color: magenta; border: 1px solid; position: absolute; left: calc(50% - (var(--size) / 2)); top: calc(50% - (var(--size) / 2)); }
.item { animation-duration: 1ms; animation-timing-function: linear; animation-delay: 0s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: none; animation-play-state: running; animation-name: action; animation-range: initial; animation-timeline: scroll(inline); }
.container { inline-size: 800px; block-size: 100%; }

button.copy {display:none !important}