
@font-feature-values "Font One" { @styleset { nice-style: 12; } }
@font-feature-values "Font Two" { @styleset { nice-style: 4; } }
.nice-look { font-variant-alternates: styleset(nice-style); }

button.copy {display:none !important}