
table { border-collapse: collapse; border: 2px solid rgb(140, 140, 140); font-family: sans-serif; font-size: 0.8rem; letter-spacing: 1px; }
th, td { border: 1px solid rgb(160, 160, 160); padding: 8px 10px; }
th[scope="col"] { background-color: rgb(80, 80, 80); color: white; }
th[scope="row"] { background-color: rgb(214, 236, 212); }
tr:nth-of-type(2n+1) td { background-color: rgb(238, 238, 238); }

button.copy {display:none !important}