
dl { margin-left: 6px; }
dt { color: rgb(33, 122, 192); font-family: Consolas, "Liberation Mono", "Courier New"; font-size: 110%; font-weight: bold; }
dd { margin-left: 16px; }
body { margin-top: 47px; }

button.copy {display:none !important}