
#bordered { width: 12rem; margin-bottom: 1rem; padding: 1rem; border-width: 40px; border-style: solid; border-color: currentcolor; border-image: url("./en-US/docs/Web/CSS/Reference/Properties/border-image-repeat/border.png") 27; }

button.copy {display:none !important}