
body { display: flex; }
div { text-align: center; }
p { margin: 0px 30px 10px; }
body { display: flex; }
div { text-align: center; }
p { font-family: Futura, sans-serif; font-size: 50px; }
span { border: 1px solid red; }
.adjust1 { font-size-adjust: 0.6; }
.adjust2 { font-size-adjust: 0.5; }
.adjust3 { font-size-adjust: 0.482; }

button.copy {display:none !important}