
.wrapper { border: 2px dotted rgb(96, 139, 168); width: 500px; }
.box { display: flex; flex-wrap: wrap; gap: 10px; }
.box > * { flex: 1 1 160px; border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); }

button.copy {display:none !important}