
h1, h2, h3, h4, h5, h6 { font-family: helvetica; }
label { display: block; margin-top: 1em; font-weight: bold; }
input:not([disabled], [readonly], [type="date"]) { background-color: lightyellow; color: red; }

button.copy {display:none !important}