
body { display: flex; flex-wrap: wrap; gap: 10px; }
div { height: 50px; flex: 0 0 28%; border: 1px solid black; }
[data-color="red-dark"] { background-color: lab(5 125 71); }
[data-color="red"] { background-color: lab(40 125 71); }
[data-color="red-light"] { background-color: lab(95 125 71); }
[data-color="green-dark"] { background-color: lab(10 -120 125); }
[data-color="green"] { background-color: lab(50 -120 125); }
[data-color="green-light"] { background-color: lab(90 -120 125); }
[data-color="blue-dark"] { background-color: lab(10 -120 -120); }
[data-color="blue"] { background-color: lab(50 -120 -120); }
[data-color="blue-light"] { background-color: lab(90 -120 -120); }

button.copy {display:none !important}