
@property --theme { syntax: "<color>"; inherits: true; initial-value: red; }
output { padding: 3px 5px; margin-top: 5px; }
@container style(--theme) {
  output { outline: 5px dotted var(--theme); color: rgb(119, 119, 119); }
}
@container style(--theme: green) or style(--theme: blue) or style(--theme: red) {
  output { color: var(--theme); }
}
@container style(--theme: red) {
  output { font-weight: bold; }
}

button.copy {display:none !important}