
* { box-sizing: border-box; }
body { width: 600px; margin: 0px auto; }
form { margin-top: 20px; padding: 20px; font-family: Helvetica, Arial, sans-serif; background: rgb(238, 238, 238); border: 2px solid rgb(204, 204, 204); }
div { display: flex; align-items: center; }
div:not(div:last-child) { margin-bottom: 20px; }
label { width: 100px; }
input { field-sizing: content; }

button.copy {display:none !important}