
div { width: 300px; height: 200px; background-repeat: no-repeat; border: 2px solid black; }
div { background-image: url("./en-US/docs/Web/CSS/Guides/Backgrounds_and_borders/Scaling_SVG_backgrounds/no-dimensions-1x1-ratio.svg"); background-size: auto; }

button.copy {display:none !important}