
.wrapper { perspective: 100px; display: inline-flex; gap: 1em; }
.wrapper > div { width: 7em; line-height: 7em; text-align: center; transition: 0.5s ease-in-out; border: 3px dotted; }
#box1:hover { translate: 20px; }
#box2:hover { translate: 20px 20px; }
#box3:hover { translate: 5px 5px 30px; }

button.copy {display:none !important}