
body { font-family: Arial; }
div { display: inline-block; width: 150px; height: 150px; border: 2px dotted black; background-color: aquamarine; margin: 1rem; }
p { padding: 1rem; }
#drop-target { background-color: cornflowerblue; }

button.copy {display:none !important}