
body { display: grid; place-items: center; height: 100vh; font-size: 1.4rem; font-family: sans-serif; }
input { width: 33vw; }
output { background: cyan; border: 2px solid darkblue; padding: 3px 6px; border-radius: 10px; font-size: 1.2rem; }
input::-webkit-slider-thumb { anchor-name: --thumb; }
output { position-anchor: --thumb; position: absolute; left: anchor(right); bottom: anchor(top); }

button.copy {display:none !important}