
.red { color: rgb(255, 51, 51); }
.yellow-bg { background: rgb(255, 255, 170); }
.fancy { font-weight: bold; text-shadow: rgb(119, 119, 255) 4px 4px 3px; }
.item\?one { background-color: pink; }
.\31 23item { background-color: yellow; }

button.copy {display:none !important}