
@font-face { font-family: "Noto Color Emoji"; font-style: normal; font-weight: normal; src: url("../fonts.gstatic.com/l/font-_-kit=Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabts6diywYkdG3gjD0U&skey=a373f7129eaba270&v=v24") format("woff2"); }
.emoji { font-family: "Noto Color Emoji", emoji; font-size: 3rem; }
@font-palette-values --blue { font-family: "Noto Color Emoji"; override-colors: 3 rgb(1, 28, 193), 4 rgb(60, 124, 230); }
@font-palette-values --green { font-family: "Noto Color Emoji"; override-colors: 3 rgb(28, 193, 1), 4 rgb(34, 230, 1); }
.colored-hat { font-palette: --blue; }

button.copy {display:none !important}