
body { display: flex; gap: 20px; padding: 15px; background-image: conic-gradient(transparent 90deg, rgba(0, 0, 0, 0.05) 90deg, rgba(0, 0, 0, 0.05) 180deg, transparent 180deg, transparent 270deg, rgba(0, 0, 0, 0.05) 270deg); background-size: 30px 30px; }
div, svg, img { width: 220px; aspect-ratio: 1 / 1; }
div { border: 1px solid black; }
img { mask-image: repeating-linear-gradient(to right bottom, red 0px, red 20px, rgba(255, 0, 0, 0.333) 20px, rgba(255, 0, 0, 0.333) 40px, transparent 40px, transparent 60px); }
.gradient { background: repeating-linear-gradient(to right bottom, red 0px, red 20px, rgba(255, 0, 0, 0.333) 20px, rgba(255, 0, 0, 0.333) 40px, transparent 40px, transparent 60px); }
.alpha img { mask-mode: alpha; }
.luminance img { mask-mode: luminance; }

button.copy {display:none !important}