
div { border: 1px solid black; height: 50px; margin: 10px; width: 90%; }
p { color: white; margin: 6px; }
.hsl, .hsl-shorter, .hsl-named { background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 195, 0), rgb(255, 225, 0), rgb(255, 255, 0)); }
.hsl-increasing { background: linear-gradient(to right, rgb(0, 212, 255), rgb(0, 64, 255), rgb(85, 0, 255), rgb(234, 0, 255), rgb(255, 0, 128), rgb(255, 21, 0), rgb(255, 170, 0), rgb(191, 255, 0), rgb(42, 255, 0), rgb(0, 255, 106), rgb(0, 255, 255)); }
.hsl-decreasing, .hsl-longer, .hsl-named-longer { background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 34, 0), rgb(255, 0, 98), rgb(255, 0, 225), rgb(153, 0, 255), rgb(21, 0, 255), rgb(0, 111, 255), rgb(0, 242, 255), rgb(0, 255, 136), rgb(0, 255, 8), rgb(123, 255, 0), rgb(255, 255, 0)); }
.hsl { background: linear-gradient(to right in hsl, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-increasing { background: linear-gradient(to right in hsl increasing hue, rgb(0, 212, 255), rgb(0, 255, 255)); }
.hsl-decreasing { background: linear-gradient(to right in hsl decreasing hue, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-shorter { background: linear-gradient(to right in hsl, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-longer { background: linear-gradient(to right in hsl longer hue, rgb(255, 166, 0), rgb(255, 255, 0)); }
.hsl-named { background: linear-gradient(to right in hsl, orange, yellow); }
.hsl-named-longer { background: linear-gradient(to right in hsl longer hue, orange, yellow); }

button.copy {display:none !important}