
@counter-style books { system: numeric; symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9"; prefix: "Book "; suffix: ": "; }
.books { list-style: books; padding-left: 15ch; }

button.copy {display:none !important}