
.wrapper { max-width: 1024px; margin: 0px auto; font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; font-size: 1.2em; line-height: normal; font-family: Helvetica, Arial, sans-serif; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; }
.wrapper > * { border: 2px solid rgb(240, 140, 0); background-color: rgb(255, 236, 153); border-radius: 5px; padding: 10px; }
.wrapper { display: grid; grid-template-columns: repeat(12, [col-start] 1fr); gap: 20px; }
.item1 { grid-column-start: col-start; grid-column-end: span 3; }
.item2 { grid-column-start: 6 col-start; grid-column-end: span 4; grid-row-start: 1; grid-row-end: 3; }
.item3 { grid-column-start: 2 col-start; grid-column-end: span 2; grid-row-start: 2; grid-row-end: auto; }
.item4 { grid-column-start: 3 col-start; grid-column-end: -1; grid-row-start: 3; grid-row-end: auto; }

button.copy {display:none !important}