
.wrapper { border: 1px solid black; padding: 10px; }
.both { border: 1px solid black; clear: both; }
.black { float: left; margin: 0px; background-color: black; color: white; width: 20%; }
.red { float: right; margin: 0px; background-color: pink; width: 20%; }
p { width: 45%; }

button.copy {display:none !important}