
#rounded { width: 200px; border: 10px solid transparent; padding: 20px; border-radius: 20px; background-image: linear-gradient(white, white), linear-gradient(to right, cyan, lime); background-origin: border-box; background-clip: padding-box, border-box; }

button.copy {display:none !important}