
ul { background-image: url("./en-US/docs/Web/CSS/Reference/Properties/background-attachment/star-solid.gif"); background-attachment: fixed; width: 300px; height: 70px; overflow: scroll; }

button.copy {display:none !important}