
div { background-color: black; margin: 4px 0px; width: 100%; height: 48px; }
div > code { display: block; background-color: darkmagenta; color: white; height: 48px; }
.max1 > code { width: max(50px, 50%); }
.max2 > code { width: max(50px, 100%); }
.max3 > code { width: max(50px, 90%); }
.max4 > code { width: max(80px, 80%); }

button.copy {display:none !important}