
:root { overflow: hidden; background-color: lightblue; display: flex; justify-content: center; }
.sun { background-color: yellow; border-radius: 50%; height: 100vh; aspect-ratio: 1 / 1; animation: 4s linear infinite alternate animating-multiple-properties; }
@keyframes animating-multiple-properties { 
  0% { transform: translateY(110vh); background-color: red; filter: brightness(75%); }
  100% { transform: translateY(0px); background-color: orange; }
}

button.copy {display:none !important}