
body { direction: rtl; }
.left { text-align: left; }
p { border: 2px solid rgb(255, 169, 77); border-radius: 5px; background-color: rgb(255, 216, 168); padding: 1em; margin: 1em; color: rgb(217, 72, 15); }

button.copy {display:none !important}