
.box { width: 400px; margin: 0px auto; }
.shape { float: left; width: 150px; height: 100px; clip-path: inset(45px 50px 15px 0px round 50px); shape-outside: inset(40px 40px 10px 0px round 50px); background-color: coral; border-radius: 20px; margin: 0px; padding: 20px; }

button.copy {display:none !important}