
abbr { font-variant-ligatures: normal; font-variant-caps: all-small-caps; font-variant-alternates: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; }

button.copy {display:none !important}