
.wrapper { border: 1px solid black; padding: 10px; }
.left { border: 1px solid black; clear: left; }
.black { float: left; margin: 0px; background-color: black; color: white; width: 20%; }
.red { float: left; margin: 0px; background-color: pink; width: 20%; }
p { width: 50%; }

button.copy {display:none !important}