
img { width: 350px; height: 350px; animation: 5s linear infinite alternate panning; }
@keyframes panning { 
  0% { }
  100% { }
}
@supports not (object-view-box: none) {
  body::before { content: "Your browser does not support the 'object-view-box' property."; color: black; background-color: rgb(255, 205, 51); display: block; width: 100%; text-align: center; }
}

button.copy {display:none !important}