
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); width: 200px; }
.box { width: 500px; border: 2px dotted rgb(96, 139, 168); display: flex; flex-flow: wrap; }

button.copy {display:none !important}