
.four::first-letter { -webkit-initial-letter: 3 4; }
.same::first-letter { -webkit-initial-letter: 3; }
.two::first-letter { -webkit-initial-letter: 3 2; }
.one::first-letter { -webkit-initial-letter: 3 1; }
p { outline: 1px dashed red; }

button.copy {display:none !important}