
.x-axis { display: flex; justify-content: space-evenly; width: 80vw; margin-left: 4px; }
.parent { background: linear-gradient(to right, white 24.8%, grey 24.8%, grey 25.2%, white 25.2%, white 49.8%, grey 49.8%, grey 50.2%, white 50.2%, white 74.8%, grey 74.8%, grey 75.2%, white 75.2%); width: 80vw; font-family: monospace; font-weight: bold; border: 2px solid grey; }
.animate { animation-name: changeme; }
.parent > div[class] { animation-fill-mode: forwards; animation-duration: 10s; width: 0px; margin-bottom: 4px; padding: 5px 0px; box-sizing: border-box; text-wrap: nowrap; background-color: lime; }
@keyframes changeme { 
  0% { width: 0em; }
  100% { width: 100%; background-color: orange; }
}
.linear { animation-timing-function: linear; }
.start { animation-timing-function: steps(4, start); }
.jump-start { animation-timing-function: steps(4, jump-start); }
.end { animation-timing-function: steps(4); }
.jump-end { animation-timing-function: steps(4); }
.jump-both { animation-timing-function: steps(4, jump-both); }
.jump-none { animation-timing-function: steps(4, jump-none); }
.step-start { animation-timing-function: steps(1, start); }
.step-end { animation-timing-function: steps(1); }

button.copy {display:none !important}