
#square { background-color: deeppink; width: 100px; height: 100px; margin-top: 100px; position: absolute; bottom: 0px; animation-name: rotateAnimation; animation-duration: 1ms; animation-direction: alternate; animation-timeline: scroll(); }
@keyframes rotateAnimation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#container { height: 300px; overflow-y: scroll; position: relative; }
#stretcher { height: 600px; }
@layer no-support {
  @supports not (animation-timeline: scroll()) {
  body::before { content: "Your browser doesn't support the CSS `scroll()` function."; background-color: wheat; display: block; text-align: center; padding: 1em; }
}
}

button.copy {display:none !important}