
body { background: beige; }
section { position: absolute; left: 30px; top: 30px; width: 400px; height: 160px; padding: 30px 20px; background: lightgray; }
p { position: absolute; width: 50%; height: 25%; margin: 5%; padding: 5%; background: cyan; }

button.copy {display:none !important}