
body { display: flex; gap: 20px; padding: 15px; background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.05) 50%), linear-gradient(transparent 50%, rgba(0, 0, 0, 0.05) 50%); background-size: 20px 20px; }
div, svg, img { width: 220px; aspect-ratio: 1 / 1; }
.applied-mask { mask-image: repeating-linear-gradient(to right bottom, red 0px, red 20px, rgba(255, 0, 0, 0.333) 20px, rgba(255, 0, 0, 0.333) 40px, transparent 40px, transparent 60px); }
.mask-source { background: repeating-linear-gradient(to right bottom, red 0px, red 20px, rgba(255, 0, 0, 0.333) 20px, rgba(255, 0, 0, 0.333) 40px, transparent 40px, transparent 60px); }

button.copy {display:none !important}