
div { width: 120px; height: 120px; float: left; margin-right: 10px; box-sizing: border-box; }
.color-hint-gradient { background: linear-gradient(to top, lime, 20%, cyan); }
.regular-progression { background: linear-gradient(to top, lime, cyan); }

button.copy {display:none !important}