
img.opacity { opacity: 1; }
img.opacity:hover { opacity: 0.5; }
.wrapper { width: 200px; height: 160px; background-color: rgb(240, 60, 195); background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%); background-size: 20px 20px; }

button.copy {display:none !important}