
html { font-family: Helvetica, Arial, sans-serif; }
[popover] { font-size: 1.2rem; padding: 10px; }
[popover]:popover-open { opacity: 1; transform: scaleX(1); }
[popover] { opacity: 0; transform: scaleX(0); transition-property: opacity, transform, overlay, display; transition-duration: 0.7s; transition-behavior: allow-discrete; }
@starting-style {
  [popover]:popover-open { opacity: 0; transform: scaleX(0); }
}

button.copy {display:none !important}