
.wrapper { height: 200px; display: flex; align-items: center; justify-content: center; }
.box { background-color: rgb(69, 164, 181); border-radius: 5px; padding: 10px; color: white; }

button.copy {display:none !important}