
.narrow { padding: 10px; border: 1px solid; width: 500px; margin: 0px auto; font-size: 20px; line-height: 1.5; letter-spacing: 1px; }
.normal { word-break: normal; }
.breakAll { word-break: break-all; }
.keepAll { word-break: keep-all; }
.manual { }
.autoPhrase { }
.breakWord { word-break: break-word; }

button.copy {display:none !important}