
img { margin-right: 0.5em; }
p { height: 3em; padding: 0px 0.5em; font-family: monospace; text-decoration: underline overline; margin-left: auto; margin-right: auto; width: 80%; }

button.copy {display:none !important}