
body { width: fit-content; height: fit-content; }
.container { width: 80vw; height: 100px; border: 1px dashed black; margin: 0px 0.5em 2em 2em; text-align: center; }
pre { font-size: 1em; text-align: right; padding-right: 10px; line-height: 1em; }
.box { display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; }
.box + .box { opacity: 1; }
.box { background-color: palegreen; border-top: 4px solid black; opacity: 0.2; }
.box:first-of-type { position: absolute; }
.box1 { offset-path: ray(0deg); }
.box2 { offset-path: ray(150deg); }
.box3 { offset-rotate: 0deg; offset-position: 20% 40%; offset-path: ray(150deg); }
.box4 { offset-position: 0px 0px; offset-path: ray(0deg); }
.box5 { offset-path: ray(60deg at right bottom); }

button.copy {display:none !important}