
li { scroll-snap-stop: normal; scroll-snap-align: center; }
ul { overflow: auto; scroll-snap-type: both mandatory; overscroll-behavior-x: contain; }
article.snapDisabled fieldset { opacity: 0.2; pointer-events: none; }
article.snapDisabled ul { scroll-snap-type: initial; overscroll-behavior-x: initial; }
@layer page-setup {
  article { display: flex; gap: 2vw; }
  div { flex: 1 1 0%; }
  ul { display: grid; gap: 6.25vw; padding: 12.5vw; box-sizing: border-box; border: 1px solid; grid-template-columns: repeat(5, 1fr); background: conic-gradient(at left bottom, red 0deg, yellow 15deg, green 30deg, blue 45deg, purple 60deg, magenta 75deg) local; margin: auto; width: 20vw; height: 20vw; }
  li { scroll-snap-align: center; height: 12.5vw; width: 12.5vw; outline: 3px inset; list-style-type: none; background: white; font-family: monospace; font-size: 3rem; line-height: 12vw; text-align: center; counter-increment: items 1; }
  li::after { content: counter(items); }
  input { vertical-align: bottom; }
  p { font-family: monospace; }
}

button.copy {display:none !important}