
:root { overflow: hidden; background-color: lightblue; display: flex; justify-content: center; }
.sun { background-color: yellow; border-radius: 50%; height: 100vh; aspect-ratio: 1 / 1; animation: 4s linear infinite alternate sun-rise; }
@keyframes sun-rise { 
  0% { transform: translateY(110vh); }
  100% { transform: translateY(0px); }
}

button.copy {display:none !important}