
p { padding: 10px; border: solid; }
@media screen and (scan: interlace) {
  p { background: rgb(244, 174, 138); }
}
@media screen and (scan: progressive) {
  p { text-decoration: underline; }
}
@media not screen and (scan: progressive) {
  p { border-style: dashed; }
}
@media not screen and (scan: interlaced) {
  p { color: purple; }
}

button.copy {display:none !important}