
* { box-sizing: border-box; }
html { height: 100%; }
body { display: flex; align-items: center; justify-content: center; height: inherit; }
h2 { font-size: 1rem; letter-spacing: 1px; }
section { font-family: Helvetica, Arial, sans-serif; border-radius: 5px; background: rgb(238, 238, 238); box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 4px inset, rgba(0, 0, 0, 0.5) -1px -1px 4px inset; width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; }
main { border: 3px solid black; width: 250px; height: 450px; overflow: scroll; scroll-snap-type: block mandatory; }
section { margin: 50px auto; scroll-snap-align: center; transition: 0.5s; }
.pending { background-color: rgb(204, 204, 204); }
.select-section { background: purple; color: white; }

button.copy {display:none !important}