
.dotted-border { border: dotted; position: relative; width: 390px; height: 400px; }
#top-left, #middle, #bottom-right { position: absolute; top: 0px; }
#top-left { left: 400px; clip: rect(0px, 130px, 90px, 0px); }
#middle { left: 270px; clip: rect(100px, 260px, 190px, 130px); }
#bottom-right { left: 140px; clip: rect(200px, 390px, 290px, 260px); }

button.copy {display:none !important}