
h1 { font-size: calc(5.0625rem); }
h2 { font-size: calc(3.375rem); }
h3 { font-size: calc(2.25rem); }
h4 { font-size: calc(1.5rem); }
h5 { font-size: calc(1rem); }
h6 { font-size: calc(0.666667rem); }

button.copy {display:none !important}