
.box { border: 2px dotted rgb(96, 139, 168); display: flex; width: 600px; }
.box > * { flex: 1 1 200px; border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); }
.collapse { visibility: collapse; }
p:has(:checked) + div .collapse { visibility: visible; }

button.copy {display:none !important}