
div { width: 40px; height: 40px; background: rgb(43, 196, 162); margin: 20px; clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%, 30% 50%); animation: 5000ms ease-in-out infinite alternate move; offset-path: path("M 20 20 C 20 50 180 -10 180 20"); }
div:nth-child(1) { offset-rotate: auto; }
div:nth-child(2) { offset-rotate: auto 90deg; }
div:nth-child(3) { offset-rotate: 30deg; }
@keyframes move { 
  100% { offset-distance: 100%; }
}

button.copy {display:none !important}