
body { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; }
div { height: 50px; border: 1px solid black; }
[data-color="blue-dark"] { background-color: oklch(0.1 0.4 240); }
[data-color="blue"] { background-color: oklch(0.5 0.4 240); }
[data-color="blue-light"] { background-color: oklch(0.9 0.4 240); }
[data-color="red-dark"] { background-color: oklch(0.1 0.4 20); }
[data-color="red"] { background-color: oklch(0.5 0.4 20); }
[data-color="red-light"] { background-color: oklch(0.9 0.4 20); }
[data-color="green-dark"] { background-color: oklch(0.1 0.4 130); }
[data-color="green"] { background-color: oklch(0.5 0.4 130); }
[data-color="green-light"] { background-color: oklch(0.9 0.4 130); }

button.copy {display:none !important}