
* { box-sizing: border-box; }
article { margin-bottom: 20px; padding: 10px; border: 2px solid gray; }
.article-hero, .article-body, article footer { padding: 20px; margin: 10px; border: 2px solid lightgray; }
img { height: 100px; width: 100%; display: block; background-color: lightgray; color: black; padding: 10px; }
@scope (.feature) {
  :scope { background: rebeccapurple; color: antiquewhite; font-family: sans-serif; }
  figure { background-color: white; border: 2px solid black; color: black; padding: 10px; }
}
@scope (.feature) to (figure) {
  img { border: 5px solid black; background-color: goldenrod; }
}

button.copy {display:none !important}