
#container { display: flex; width: 100vw; height: 100vh; box-sizing: border-box; }
.item { flex: 1 1 0%; margin: 20px; }
:root { --base-color: orange; }
#one { background-color: lch(from var(--base-color) calc(l + 15) c h); }
#two { background-color: var(--base-color); }
#three { background-color: lch(from var(--base-color) calc(l - 15) c h); }

button.copy {display:none !important}