
#container { display: flex; width: 100vw; height: 100vh; box-sizing: border-box; }
.item { flex: 1 1 0%; margin: 20px; }
:root { --base-color: orange; }
#one { background-color: hsl(from var(--base-color) h s calc(l + 20)); }
#two { background-color: var(--base-color); }
#three { background-color: hsl(from var(--base-color) h s calc(l - 20)); }
@supports (color: hsl(from red h s calc(l - 20%))) {
  #one { background-color: hsl(from var(--base-color) h s calc(l + 20%)); }
  #three { background-color: hsl(from var(--base-color) h s calc(l - 20%)); }
}

button.copy {display:none !important}