
.box { height: 300px; border: 2px dotted rgb(96, 139, 168); }
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); }
.box { display: flex; align-items: center; justify-content: center; }
.box div { width: 100px; height: 100px; }

button.copy {display:none !important}