
tfoot { border-top: 3px dotted rgb(160, 160, 160); background-color: rgb(44, 94, 119); color: white; }
tfoot th { text-align: right; }
tfoot td { font-weight: bold; }
thead { border-bottom: 2px solid rgb(160, 160, 160); background-color: rgb(44, 94, 119); color: white; }
tbody { background-color: rgb(228, 240, 245); }
table { border-collapse: collapse; border: 2px solid rgb(140, 140, 140); font-family: sans-serif; font-size: 0.8rem; letter-spacing: 1px; }
th, td { border: 1px solid rgb(160, 160, 160); padding: 8px 10px; }
tr > td:last-of-type { text-align: center; }

button.copy {display:none !important}