
body { display: flex; gap: 20px; padding: 15px; background-image: conic-gradient(transparent 90deg, rgba(0, 0, 0, 0.05) 90deg, rgba(0, 0, 0, 0.05) 180deg, transparent 180deg, transparent 270deg, rgba(0, 0, 0, 0.05) 270deg); background-size: 30px 30px; }
div, svg, img { width: 220px; aspect-ratio: 1 / 1; }
div { border: 1px solid black; }
div { all: unset; }
legend { align-self: baseline; }
label { display: block; }
img { mask-image: url("../mdn.github.io/shared-assets/images/examples/mask-star.svg"); -webkit-mask-position-x: left; -webkit-mask-position-y: top; padding: 15px; border: 15px solid; background-color: green; }
img { mask-size: 100%; }
:has(#border-box:checked) img { mask-origin: border-box; }
:has(#padding-box:checked) img { mask-origin: padding-box; }
:has(#content-box:checked) img { mask-origin: content-box; }

button.copy {display:none !important}