
h1 { font-size: calc(3.490343rem); }
h2 { font-size: calc(2.718282rem); }
h3 { font-size: calc(2.117rem); }
h4 { font-size: calc(1.648721rem); }
h5 { font-size: calc(1.284025rem); }
h6 { font-size: calc(1rem); }

button.copy {display:none !important}