
div.example { border-style: solid; display: -webkit-box; height: 300px; width: 300px; -webkit-box-orient: vertical; -webkit-box-align: center; -webkit-box-pack: end; }
div.example p { width: 200px; }

button.copy {display:none !important}