
.box { margin: 10px 0px; color: white; background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgba(253, 29, 29, 0.6) 60%, rgb(252, 176, 69) 100%) no-repeat, radial-gradient(circle, white 0%, black 28%) content-box border-box; border: 20px dashed black; padding: 20px; width: 400px; }

button.copy {display:none !important}