
.container { border: 2px solid rgb(204, 204, 204); padding: 10px; width: 20em; }
.item { width: fit-content; background-color: rgb(140, 160, 255); padding: 5px; margin-bottom: 1em; }

button.copy {display:none !important}