
@font-face { font-family: "Amstelvar VF"; src: url("../mdn.github.io/shared-assets/fonts/variable-fonts/AmstelvarAlpha-VF.woff2") format("woff2-variations"); font-weight: 300 900; font-width: 35% 100%; font-style: normal; font-display: swap; }
p { font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; line-height: normal; font-family: "Amstelvar VF", Georgia, serif; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; font-size: 4rem; margin: 1rem; display: inline-block; }
.adjustable { border: 1px dashed; --text-axis: 60; }
.p1 { font-width: 60%; }
.p2 { font-variation-settings: "wdth" 60; }
.p3 { font-variation-settings: "wdth" var(--text-axis); }

button.copy {display:none !important}