
body * { padding: 1rem; box-sizing: border-box; font-family: Consolas, Arial, sans-serif; }
#flex-container { border: 2px dashed gray; display: flex; }
#flex-auto { cursor: pointer; background-color: wheat; flex: 1 1 auto; }
#default { background-color: lightblue; }

button.copy {display:none !important}