
body { font-family: monospace; }
.safari meter { appearance: none; }
#styled::-webkit-meter-even-less-good-value { background: linear-gradient(rgb(255, 119, 119), rgb(153, 0, 0) 45%, rgb(153, 0, 0) 55%, rgb(255, 119, 119)); height: 100%; box-sizing: border-box; }

button.copy {display:none !important}