
.star { width: 200px; height: 200px; background: linear-gradient(rebeccapurple, magenta) blue; clip-path: polygon(50% 0%, 61% 35%, 100% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 0% 35%, 39% 35%, 50% 0%); }
@keyframes morphStar { 
  0% { clip-path: polygon(50% 0%, 61% 35%, 100% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 0% 35%, 39% 35%, 50% 0%); }
  100% { clip-path: polygon(50% 10%, 65% 30%, 90% 20%, 75% 60%, 85% 95%, 50% 80%, 15% 95%, 25% 60%, 10% 20%, 35% 30%, 50% 10%); }
}
.star { animation: 3s ease-in-out infinite alternate morphStar; }

button.copy {display:none !important}