
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); }
.box { border: 2px dotted rgb(96, 139, 168); display: flex; flex-direction: row-reverse; }

button.copy {display:none !important}