
:root body div { margin: -70px 0px -100px; }
body::before { display: block; text-align: center; font-family: sans-serif; font-size: 1.5rem; }
div { display: flex; gap: 20px; }
svg { width: 260px; }
#gradient { height: 1px; position: absolute; width: 1px; }
rect { stroke: black; stroke-width: 3; }
.start { fill: yellow; }
.end { fill: red; }
.container { fill: none; }
text { font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; font-size: 40px; line-height: normal; font-family: monospace; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; fill: black; }
line { stroke: black; stroke-width: 8; stroke-dasharray: 10; }

button.copy {display:none !important}