
#outset { width: 10rem; background: rgb(204, 238, 255); border-width: 1.4rem; border-style: solid; border-color: currentcolor; border-image: radial-gradient(rgb(255, 255, 34), rgb(85, 85, 255)) 40 / / 1.5; margin: 2.1rem; }

button.copy {display:none !important}