
.inside { list-style-position: inside; list-style-type: square; }
.outside { list-style-position: outside; list-style-type: circle; }
.inside-img { list-style-position: inside; list-style-image: url("./en-US/docs/Web/CSS/Reference/Properties/list-style-position/star-solid.gif"); }

button.copy {display:none !important}