
body { width: 150vw; height: 150vh; }
.anchor {
  font-size: 1rem; color: white; text-shadow: black 1px 1px 1px; background-color: rgb(128, 128, 255); width: fit-content; border-radius: 10px; border: 1px solid black; padding: 3px;
  &:focus { background-color: rgb(255, 255, 128); }
}
.infobox { color: darkblue; background-color: azure; border: 1px solid rgb(221, 221, 221); padding: 10px; border-radius: 10px; font-size: 1rem; }
.anchor { position: absolute; }
#anchor1 { anchor-name: --my-anchor1; top: 50px; left: 100px; }
#anchor2 { anchor-name: --my-anchor2; top: 200px; left: 350px; }
.infobox { position-anchor: --my-anchor1; position: fixed; inset: anchor(--my-anchor1 100%) anchor(--my-anchor2 0%) anchor(--my-anchor2 0%) anchor(--my-anchor1 100%); }

button.copy {display:none !important}