
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf") format('truetype');
}

@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts.gstatic.com/s/mashanzheng/v17/NaPecZTRCLxvwo41b4gvzkXaRMQ.ttf") format('truetype');
}

.english { font-family: Montserrat, sans-serif; }
.chinese { font-family: "Ma Shan Zheng", cursive; }
.no-syn { font-synthesis-small-caps: none; font-synthesis-style: none; font-synthesis-weight: none; }
.syn { font-synthesis-weight: auto; font-synthesis-style: auto; font-synthesis-small-caps: none; }

button.copy {display:none !important}