
body { width: 300px; height: 200px; border-radius: 50px; border: 25px dashed aqua; padding: 25px; margin: 50px; }
.box { width: 40px; height: 20px; animation: 8000ms ease-in-out infinite move; }
.blueBox { background-color: blue; offset-path: border-box; offset-distance: 5%; }
.greenBox { background-color: green; offset-path: padding-box; offset-distance: 8%; }
.redBox { background-color: red; offset-path: content-box; offset-distance: 12%; }
@keyframes move { 
  0%,20% { offset-distance: 0%; }
  80%,100% { offset-distance: 100%; }
}

button.copy {display:none !important}