
body { height: 100vh; display: flex; justify-content: center; align-items: center; gap: 50px; }
div.box { width: 100px; height: 100px; background: linear-gradient(orange, red); }
div.box-1 { transform: rotate(calc(132.436599deg)); }
div.box-2 { transform: rotate(calc(170.051959deg)); }
div.box-3 { transform: rotate(calc(218.351037deg)); }
div.box-4 { transform: rotate(calc(280.368282deg)); }
div.box-5 { transform: rotate(calc(360deg)); }

button.copy {display:none !important}