
table { border-collapse: collapse; border: 1px solid black; width: 250px; height: 150px; }
thead { text-align: left; }
td, th { border: 1px solid black; }
.center { text-align: center; }
.right, caption { text-align: right; }

button.copy {display:none !important}