
.anchor { font-size: 1.8rem; text-align: center; color: white; text-shadow: black 1px 1px 1px; background-color: rgb(128, 128, 255); min-width: 50px; min-height: 50px; line-height: 50px; border-radius: 10px; border: 1px solid black; padding: 3px; }
html { height: 100%; }
body { margin: 0px; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; }
form { background: white; border: 1px solid black; padding: 5px; position: fixed; }
#position-area-form { top: 0px; right: 2px; }
#position-area-form div:last-child { margin-top: 10px; }
#position-area-form div :last-child { margin-top: 5px; }
#writing-mode-form { bottom: 0px; left: 2px; writing-mode: horizontal-tb; }
#position-area-custom-container { display: none; }
.infobox { color: darkblue; background-color: azure; border: 1px solid rgb(221, 221, 221); padding: 5px 2px; border-radius: 5px; font-size: 1rem; box-sizing: border-box; }
.anchor { anchor-name: --my-anchor; }
.infobox { position-anchor: --my-anchor; position: fixed; opacity: 0.8; position-area: left top; }

button.copy {display:none !important}