
main { height: 3000px; width: 500px; background-color: white; background-image: repeating-linear-gradient(transparent 0px, transparent 19px, rgba(0, 0, 0, 0.5) 20px); }
main > div { height: 300px; width: 400px; overflow: auto; position: relative; top: 50px; left: 50px; overscroll-behavior-block: contain; }
div > div { height: 1500px; width: 100%; background-color: yellow; background-image: repeating-linear-gradient(transparent 0px, transparent 19px, rgba(0, 0, 0, 0.5) 20px); }
p { padding: 10px; background-color: rgba(255, 0, 0, 0.5); margin: 0px; width: 340px; position: relative; top: 10px; left: 10px; }

button.copy {display:none !important}