
body { display: flex; gap: 20px; flex-flow: wrap; }
div { height: 200px; width: 200px; box-sizing: border-box; background-color: rebeccapurple; border: 20px solid magenta; clip-path: polygon(50% 0px, 100% 100%, 0px 100%); }
div:last-of-type { clip-path: polygon(50% 0px, 100% 100%, 0px 100%) content-box; }

button.copy {display:none !important}