
* { box-sizing: border-box; }
.wrapper { border: 2px solid rgb(247, 103, 7); border-radius: 5px; background-color: rgb(255, 244, 230); display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 100px); }
.wrapper > div { border: 2px solid rgb(255, 169, 77); border-radius: 5px; background-color: rgb(255, 216, 168); padding: 1em; color: rgb(217, 72, 15); }
.box1 { grid-column-start: 1; grid-row-start: 1; grid-row-end: 4; }
.box2 { grid-column-start: 3; grid-row-start: 1; grid-row-end: 3; }
.box3 { grid-column-start: 2; grid-row-start: 1; }
.box4 { grid-column-start: 2; grid-column-end: 4; grid-row-start: 3; }

button.copy {display:none !important}