
#path { margin: 40px; width: 400px; height: 200px; background: radial-gradient(at 50% 0%, transparent 70%, grey 70%, grey 100%); }
#ball { width: 30px; height: 30px; background-color: red; border-radius: 50%; offset-path: path("M 15 15 A 6 5.5 10 0 0 385 15"); }

button.copy {display:none !important}