
.demo { border-top: 100px solid rgb(204, 204, 204); height: 300px; }
@keyframes grow { 
  0% { font-size: 0px; }
  100% { font-size: 40px; }
}
.demo:hover .grows { animation-name: grow; animation-duration: 3s; }
.demo:hover .grows-and-stays { animation-name: grow; animation-duration: 3s; animation-fill-mode: forwards; }

button.copy {display:none !important}