
@font-face {
  font-family: 'Bungee Spice';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/bungeespice/v15/nwpTtK2nIhxE0q-IwgSpZBqCzw.ttf") format('truetype');
}
body {
  --google-font-color-bungeespice:none;
}

p { font-family: "Bungee Spice", fantasy; font-size: 2rem; }
@font-palette-values --Alternate { font-family: "Bungee Spice"; override-colors: 0 rgb(0, 255, 187), 1 rgb(0, 119, 68); }
.alternate { font-palette: --Alternate; }

button.copy {display:none !important}