
.no-interest-invokers body::before { content: "Your browser doesn't support interest invokers."; background-color: wheat; display: block; padding: 10px 0px; width: 100%; text-align: center; }
button { }
#my-tooltip { position-area: bottom; }

button.copy {display:none !important}