
div { display: inline-block; margin-top: 1rem; width: 45vw; height: 80vh; }
.shorter::before { content: "shorter hue"; display: block; margin-top: -1rem; }
.longer::before { content: "longer hue"; display: block; margin-top: -1rem; }
.shorter { background-image: repeating-conic-gradient(in hsl, red, blue 180deg); }
.longer { background-image: repeating-conic-gradient(in hsl longer hue, red, blue 180deg); }

button.copy {display:none !important}