
.box { width: 450px; border: 2px dotted rgb(96, 139, 168); display: flex; flex-wrap: wrap; height: 300px; align-content: space-between; }
.box > * { padding: 20px; border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); flex: 1 1 100px; }
.box div { background-color: rgba(96, 139, 168, 0.2); border: 2px solid rgb(96, 139, 168); border-radius: 5px; padding: 20px; }

button.copy {display:none !important}