
#relative { width: 100px; height: 100px; background-color: rgb(255, 199, 228); position: relative; top: 20px; left: 20px; }
#absolute { width: 100px; height: 100px; background-color: rgb(255, 215, 194); position: absolute; bottom: 10px; right: 20px; }

button.copy {display:none !important}