
.box { border: 2px dotted rgb(96, 139, 168); padding: 1em; display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, auto)); }
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; padding: 1em; background-color: rgba(96, 139, 168, 0.2); }

button.copy {display:none !important}