
#container { display: flex; height: 240px; width: 240px; flex-wrap: wrap; background-color: rgb(140, 140, 140); writing-mode: horizontal-tb; direction: ltr; place-content: flex-end center; }
div > div { border: 2px solid rgb(140, 140, 140); width: 50px; background-color: rgb(160, 200, 255); }
.small { font-size: 12px; height: 40px; }
.large { font-size: 14px; height: 50px; }

button.copy {display:none !important}