
div { offset-path: path("M 0 20 L 200 20"); animation: 3000ms ease-in-out infinite alternate move; width: 40px; height: 40px; }
section { background-image: linear-gradient(transparent, transparent 49%, black 50%, black 51%, transparent 52%); border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; }
.offset-anchor1 { offset-anchor: auto; background: cyan; }
.offset-anchor2 { offset-anchor: right top; background: purple; }
.offset-anchor3 { offset-anchor: left bottom; background: magenta; }
@keyframes move { 
  0% { offset-distance: 0%; }
  100% { offset-distance: 100%; }
}

button.copy {display:none !important}