
body { height: 100%; display: flex; align-items: center; justify-content: space-between; flex-flow: column; font-family: monospace; text-align: center; }
div[class] { font-size: 3rem; display: flex; overflow: auto; flex: 0 0 auto; }
.x { width: 50%; min-width: 15rem; height: 6rem; flex-flow: row; }
.y { width: 30%; min-width: 12rem; height: 12rem; flex-flow: column; }
div > div { flex: 0 0 auto; outline: 1px solid rgb(51, 51, 51); }
.x > div { width: 90%; height: 100%; }
.y > div { width: 100%; height: 80%; }
div > div:nth-child(2n) { background-color: rgb(135, 234, 135); }
div > div:nth-child(2n+1) { background-color: rgb(135, 204, 234); }
.x.mandatory-scroll-snapping { scroll-snap-type: x mandatory; }
.y.mandatory-scroll-snapping { scroll-snap-type: y mandatory; }
div > div { scroll-snap-align: center; }
.always-stop > div { scroll-snap-stop: always; }
.always-stop-odd > div:nth-of-type(2n+1) { scroll-snap-stop: always; }
.always-stop-even > div:nth-of-type(2n) { scroll-snap-stop: always; }
.normal-stop > div { scroll-snap-stop: normal; }

button.copy {display:none !important}