
p { color: gray; }
@media (inverted-colors: inverted) {
  p { background: black; color: yellow; text-decoration: overline; }
}
@media (inverted-colors: none) {
  p { background: rgb(238, 238, 238); color: red; }
}

button.copy {display:none !important}