
p { color: purple; margin: 0.5em 0px; }
* { box-sizing: border-box; }
button { display: block; margin: 20px 0px 20px 20px; }
canvas { border: 1px solid black; }

button.copy {display:none !important}