
p { font-weight: bold; font-size: 1.5em; color: white; text-shadow: black 0.07em 0.07em 0.05em; background-image: none; background-color: transparent; }
div { background-image: url("./en-US/docs/Web/CSS/Reference/Properties/background-image/mdn_logo_only_color.png"); }
.cats-and-stars { background-image: url("./en-US/docs/Web/CSS/Reference/Properties/background-image/star-transparent.gif"), url("./en-US/docs/Web/CSS/Reference/Properties/background-image/cat-front.png"); background-color: transparent; }

button.copy {display:none !important}