
.container { background: url("./en-US/docs/Web/CSS/Reference/Values/filter-function/contrast/unity_for_the_people.jpg") center center / contain no-repeat rgb(51, 51, 153); }
p { backdrop-filter: contrast(0.5); }
code { backdrop-filter: contrast(0.15); }
.container { padding: 3rem; width: 30rem; }
p { padding: 0.5rem; color: white; font-family: sans-serif; }

button.copy {display:none !important}