
path:nth-child(1) { stroke-linejoin: bevel; }
path:nth-child(2) { stroke-linejoin: round; }
path:nth-child(3) { stroke-linejoin: miter; }
path:nth-child(4) { stroke-linejoin: miter; stroke-miterlimit: 2; }

button.copy {display:none !important}