
body { font-family: sans-serif; }
.box { border: 2px solid rgb(136, 136, 136); width: 50px; }
span { padding: 0.4rem; }
.box { display: inline-flex; flex-direction: column; }
.first { }
.auto { }
.last { }

button.copy {display:none !important}