
body { width: 50%; margin: 0px auto; }
.anchor { font-size: 1.8rem; color: white; text-shadow: black 1px 1px 1px; background-color: rgb(128, 128, 255); width: fit-content; border-radius: 10px; border: 1px solid black; padding: 3px; }
.anchor { anchor-name: --my-anchor; }
.infobox { color: darkblue; background-color: azure; border: 1px solid rgb(221, 221, 221); padding: 10px; border-radius: 10px; font-size: 1rem; }
.infobox { position-anchor: --my-anchor; position: fixed; left: anchor(right); top: anchor(top); margin-left: 10px; }

button.copy {display:none !important}