
.box > * { border: 2px solid rgb(96, 139, 168); border-radius: 5px; background-color: rgba(96, 139, 168, 0.2); flex: 1 1 0px; }
.box { width: 400px; border: 2px dotted rgb(96, 139, 168); display: flex; }

button.copy {display:none !important}