
@font-face {
  font-family: 'Bungee Spice';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/bungeespice/v15/nwpTtK2nIhxE0q-IwgSpZBqCzw.ttf") format('truetype');
}
body {
  --google-font-color-bungeespice:none;
}

@font-palette-values --bungee-extra-spicy { font-family: "Bungee Spice"; override-colors: 0 rgb(139, 0, 0), 1 rgb(255, 0, 0); }
h2 { font-family: "Bungee Spice", fantasy; }
h2.extra-spicy { font-palette: --bungee-extra-spicy; }

button.copy {display:none !important}