
p { width: 75%; height: 200px; margin: 3rem; padding: 1%; border-radius: 10px 10%; font-size: 250%; line-height: 1.5em; text-shadow: red 1px 1px 1px; border: 5px solid red; letter-spacing: 3px; }

button.copy {display:none !important}