
* { box-sizing: border-box; }
section { font-family: Helvetica, Arial, sans-serif; width: 175px; border-radius: 5px; background: rgb(238, 238, 238); box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 4px inset, rgba(0, 0, 0, 0.5) -1px -1px 4px inset; }
header { padding: 10px; border-bottom: 2px solid rgb(204, 204, 204); }
main { padding: 0.7rem; }
h2 { margin: 0px; font-weight: normal; font-size: 1.1rem; text-align: center; letter-spacing: 1px; }
p, li { font-size: 0.8rem; line-height: 1.5; }
p { margin-top: 0px; }
section { height: 2.5rem; overflow: hidden; transition: height 1s; }
section:hover, section:focus { }

button.copy {display:none !important}