
.x-axis { display: flex; justify-content: space-evenly; width: 80vw; margin-left: 4px; }
.parent { background: linear-gradient(to right, white 24.8%, grey 24.8%, grey 25.2%, white 25.2%, white 49.8%, grey 49.8%, grey 50.2%, white 50.2%, white 74.8%, grey 74.8%, grey 75.2%, white 75.2%); width: 80vw; font-family: monospace; font-weight: bold; border: 2px solid grey; }
.animate { animation-name: changeme; }
.parent > div[class] { animation-fill-mode: forwards; animation-duration: 10s; width: 0px; margin-bottom: 4px; padding: 5px 0px; box-sizing: border-box; text-wrap: nowrap; background-color: lime; }
@keyframes changeme { 
  0% { width: 0em; }
  100% { width: 100%; background-color: orange; }
}
.linear { animation-timing-function: linear; }
.linear-fn1 { animation-timing-function: linear(0, 0.5 50%, 1); }
.linear-fn2 { animation-timing-function: linear(0, 0.25 75%, 1); }
.linear-fn3 { animation-timing-function: linear(0, 0.75 25%, 1); }
.linear-fn4 { animation-timing-function: linear(0, 0.5 25% 75%, 1); }
.linear-fn5 { animation-timing-function: linear(0, 0.25 45%, 0.75 55%, 0.5 70%, 1); }
.linear-fn6 { animation-timing-function: linear(0, 1.2 50%, 0.75 80%, 1); }
.linear-fn7 { animation-timing-function: linear(0, 0.5 75%, 1 120%); }

button.copy {display:none !important}