
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf") format('truetype');
}

* { font-family: Montserrat, sans-serif; }
.super { font-variant-position: super; }
.sub { font-variant-position: sub; }
.no-syn { }

button.copy {display:none !important}