
* { box-sizing: border-box; }
html { height: 100%; }
body { display: flex; align-items: center; justify-content: center; height: inherit; }
section { font-family: Helvetica, Arial, sans-serif; border-radius: 5px; background: rgb(238, 238, 238); box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 4px inset, rgba(0, 0, 0, 0.5) -1px -1px 4px inset; width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; scroll-snap-align: center; }
h2 { font-size: 1rem; letter-spacing: 1px; }
main { display: grid; grid-template-columns: repeat(7, 1fr); padding: 100px; gap: 50px; overflow: scroll; border: 3px solid black; width: 350px; height: 350px; scroll-snap-type: both mandatory; }
.select-section { animation: 0.8s forwards select; }
.deselect-section { animation: 0.8s forwards deselect; }
.pending { background-color: rgb(204, 204, 204); }
@keyframes select { 
  0% { background: rgb(238, 238, 238); color: black; }
  100% { background: purple; color: white; }
}
@keyframes deselect { 
  0% { background: purple; color: white; opacity: 1; }
  80% { background: rgb(238, 238, 238); color: black; opacity: 0.1; }
  100% { background: rgb(238, 238, 238); color: black; opacity: 1; }
}

button.copy {display:none !important}