

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/lora/v37/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf") format('truetype');
}


button.copy {display:none !important}