
@font-face { font-family: "Plex Serif"; font-weight: normal; font-style: normal; font-width: normal; src: url("../mdn.github.io/shared-assets/fonts/plex/IBMPlexSerif-Regular.woff") format("woff"), url("../mdn.github.io/shared-assets/fonts/plex/IBMPlexSerif-Regular.woff2") format("woff2"); }
@font-face { font-family: "Dancing Script"; font-weight: normal; font-style: normal; font-width: normal; src: url("../mdn.github.io/shared-assets/fonts/dancing-script/dancing-script-regular.woff") format("woff"), url("../mdn.github.io/shared-assets/fonts/dancing-script/dancing-script-regular.woff2") format("woff2"); }
body { font-style: normal; font-variant-caps: normal; font-weight: normal; font-width: normal; font-size: 1.2em; line-height: normal; font-family: "Plex Serif", "Times New Roman", serif; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; margin: 1rem; }
.script { font-family: "Dancing Script", serif; }
fieldset { margin-bottom: 1rem; }
label { }
.container > * { font-size: 4rem; margin: 1.5rem 0px; }
@font-feature-values "Plex Serif" { @stylistic { alternates: 1; } @styleset { alt-g: 2; alt-a: 1; } }
@font-feature-values "Dancing Script" { @stylistic { alternates: 1; } }
.container1 * { font-variant-alternates: styleset(alt-a); }
.container1 .script { font-variant-alternates: stylistic(alternates); }
.inactive.container1 * { font-variant-alternates: normal; }
.container2 * { font-feature-settings: "ss01"; }
.container2 .script { font-feature-settings: "salt"; }
.inactive.container2 * { font-feature-settings: "ss01" 0, "salt" 0; }

button.copy {display:none !important}