
@media (resolution: 150dpi) {
  p { color: red; }
}
@media (min-resolution: 2dppx) {
  p { text-decoration: underline; }
}
@media (min-resolution: 2x) {
  p { text-decoration: underline; }
}
@media (max-resolution: 2dpcm) {
  p { background: yellow; }
}

button.copy {display:none !important}