
body { display: flex; flex-wrap: wrap; justify-content: start; }
div { margin: 2em; font-size: 1.2em; }
p { width: 5em; height: 5em; border: dotted; margin-top: 0.5em; }
div:nth-of-type(5), div:nth-of-type(6) { margin-top: 200px; }
p.visible { overflow: visible; }
p.hidden { overflow: hidden; }
p.clip { overflow: clip; }
p.scroll { overflow: scroll; }
p.auto { overflow: auto; }
p.overlay { overflow: overlay; }

button.copy {display:none !important}