
body { background: beige; }
section { display: block; width: 400px; height: 160px; background: lightgray; }
p { width: 50%; height: 25%; margin: 5%; padding: 5%; background: cyan; }

button.copy {display:none !important}