
table { border-collapse: collapse; }
td, th { border: 2px solid black; padding: 4px; }
th { background-color: lightgray; }
.experimental { display: none; }
.notice { display: table-row; font-weight: bold; text-align: center; }
@supports (writing-mode: sideways-lr) {
  .experimental { display: table-row; }
  .notice { display: none; }
}
.text1 td { writing-mode: horizontal-tb; }
.text2 td { writing-mode: vertical-lr; }
.text3 td { writing-mode: vertical-rl; }
.text4 td { writing-mode: sideways-lr; }
.text5 td { writing-mode: sideways-rl; }

button.copy {display:none !important}