
* { box-sizing: border-box; }
section { font-family: Helvetica, Arial, sans-serif; border: 1px solid black; }
h2 { margin: 0px; font-weight: normal; font-size: 1.1rem; text-align: center; letter-spacing: 1px; }
p { font-size: 0.8rem; }
section { display: flex; flex-direction: column; justify-content: center; align-items: center; }

button.copy {display:none !important}