
.container { display: grid; grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); }
p { margin: 1rem; width: 120px; border: 2px dashed rgb(153, 153, 153); font-size: 1.5rem; hyphens: auto; }
#ex2 { }
#ex3 { }
#ex4 { }

button.copy {display:none !important}