
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts.gstatic.com/s/nabla/v17/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRNRA.ttf") format('truetype');
}
body {
  --google-font-color-nabla:none;
}

@font-palette-values --blue-nabla { font-family: Nabla; base-palette: 2; }
@font-palette-values --grey-nabla { font-family: Nabla; base-palette: 3; }
@keyframes animate-palette { 
  0% { font-palette: --grey-nabla; }
  100% { font-palette: --blue-nabla; }
}
p { font-family: Nabla, fantasy; font-size: 5rem; margin: 0px; text-align: center; animation: 4s linear infinite alternate animate-palette; }

button.copy {display:none !important}