
div { display: flex; gap: 1em; list-style: none; align-items: center; }
div:first-of-type { display: none; }
p:first-of-type { text-align: center; line-height: 5em; }
p { width: 10em; height: 5em; background-color: palegoldenrod; }
p { padding: 5px; border: 7px double rgb(186, 218, 85); }
p + p { column-width: auto; column-count: 3; column-gap: 20px; column-rule-width: 7px; column-rule-style: double; column-rule-color: currentcolor; border-color: black; }
.none p { border-style: none; column-rule-style: none; }
.hidden p { border-style: hidden; column-rule-style: hidden; }
.dotted p { border-style: dotted; column-rule-style: dotted; }
.dashed p { border-style: dashed; column-rule-style: dashed; }
.solid p { border-style: solid; column-rule-style: solid; }
.double p { border-style: double; column-rule-style: double; }
.groove p { border-style: groove; column-rule-style: groove; }
.ridge p { border-style: ridge; column-rule-style: ridge; }
.inset p { border-style: inset; column-rule-style: inset; }
.outset p { border-style: outset; column-rule-style: outset; }

button.copy {display:none !important}