
[role="tooltip"] { visibility: hidden; position: absolute; top: 2rem; left: 2rem; background: black; color: white; padding: 0.5rem; border-radius: 0.25rem; transition: visibility 0.5s; }
[aria-describedby]:hover, [aria-describedby]:focus { position: relative; }
[aria-describedby]:hover + [role="tooltip"], [aria-describedby]:focus + [role="tooltip"], [role="tooltip"]:hover, [role="tooltip"]:focus { visibility: visible; }

button.copy {display:none !important}