
div { width: 100px; height: 100px; background-color: red; mask-image: url("../mdn.github.io/shared-assets/images/examples/mdn.svg"), url("../mdn.github.io/shared-assets/images/examples/mask-star.svg"); mask-size: 100% 100%; mask-composite: subtract; }

button.copy {display:none !important}