
* { box-sizing: border-box; }
.wrapper { border: 2px solid rgb(247, 103, 7); border-radius: 5px; background-color: rgb(255, 244, 230); }
.wrapper > div { border: 2px solid rgb(255, 169, 77); border-radius: 5px; background-color: rgb(255, 216, 168); padding: 1em; color: rgb(217, 72, 15); }
.wrapper { display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; grid-auto-rows: 200px; grid-template-areas: ". a a ." ". a a ."; }
.item1 { grid-row-start: a; grid-column-start: a; grid-row-end: a; grid-column-end: a; place-self: center; }

button.copy {display:none !important}