
div.circle { width: 25px; height: 25px; border-radius: 100%; vertical-align: middle; display: inline-block; }
div#a { background-color: gold; zoom: normal; }
div#b { background-color: green; zoom: 200%; }
div#c { background-color: blue; zoom: 2.9; }

button.copy {display:none !important}