
.wrap { position: relative; width: 80vw; height: 120px; border: 1px solid black; margin: 0px 2em 4em 5em; text-align: center; }
pre { font-size: 1em; text-align: right; padding-right: 10px; line-height: 1em; }
.box { display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; }
.box + .box { opacity: 1; }
.box { background-color: green; border-top: 6px dashed white; background-clip: border-box; position: absolute; top: 20px; left: 20px; opacity: 0.2; color: white; }
.box0 { offset-position: normal; }
.box1 { offset-position: normal; offset-path: ray(0deg); }
.box2 { offset-position: auto; offset-path: ray(0deg); }
.box3 { offset-position: left top; offset-path: ray(0deg); }
.box4 { offset-position: 30% 70%; offset-path: ray(120deg); }

button.copy {display:none !important}