
.normal::first-letter { -webkit-initial-letter: normal; }
.onefive::first-letter { -webkit-initial-letter: 1.5; }
.three::first-letter { -webkit-initial-letter: 3; }
p { outline: 1px dashed red; }

button.copy {display:none !important}