
@namespace url("../www.w3.org/2000/svg");
a { font-size: 1.4rem; }
svg, p { border: 5px solid gold; }
|a { text-decoration: underline wavy purple; font-weight: bold; }
*|a { font-style: italic; color: magenta; fill: magenta; }

button.copy {display:none !important}