
html { width: 100%; }
body { height: 100vh; display: flex; flex-flow: wrap; place-content: center; }
.foo { width: 50%; padding: 1em; color: white; background: rgb(255, 140, 102); border: 2px dashed black; text-align: center; font-family: system-ui, sans-serif; font-size: 14px; animation: 2s linear infinite alternate MotionScale; }
@keyframes MotionScale { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, -100, 0, 1.1); }
  50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 100, 0, 1.1); }
}

button.copy {display:none !important}