
html, body { width: 800px; overflow-x: scroll; }
@media (width < 500px) {
  html, body { width: 300px; }
}
#canvas1, #canvas2 { width: 240px; height: 240px; }
#canvas2 { image-rendering: pixelated; }

button.copy {display:none !important}