
div { color: black; font-family: sans-serif; width: 75%; height: 80%; margin: 4px; border: 2px solid black; display: inline-block; }
p { margin: 0px; }
.one { height: 250px; }
.two { color: white; height: 80%; }
.three { color: black; height: 40%; }
.four { color: white; height: 40%; }
div { background-color: var(--box-color); }
.two { --box-color: teal; }
.three { --box-color: pink; }

button.copy {display:none !important}